<html>
<head>
    <title>API help</title>
    <link rel="stylesheet" href="/assets/css/adminlte.css">
    <link rel="stylesheet" href="/assets/css/app.css">
  

</head>
<body class="dark-mode">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-10  pl-4 pr-4">
            <h2>Описание API</h2>

            <h3>Формат обмена</h3>
            <p>
              В  качестве протокола в API используется <a target="_blank"                                             href="https://www.jsonrpc.org/specification">JSON-RPC</a>.
                <br>Сообщение  в общем случае  имеет вид:
                <br>POST /api/{endpoint}
                <br>content-type: application/json
                <br>Authorization: Bearer &lt;JWT токен&gt;
                <br>
                <br><code>{"jsonrpc": "2.0", "method": "echo", "params": {"say": "Привет"}, "id": 1}</code>
             </p>
            <ul>
                <li>jsonrpc - всегда "2.0"</li>
                <li>method - вызываемая функция</li>
                <li>params - параметы (не обязательное поле)</li>
                <li>id - идентификатор запроса</li>
            </ul>
             <p>
            Идентификатор зхапроса  возвращается  в  ответе  и  может быть любым но  уникальным  в пределах пакета
            (batch)  . В случае  отсутствия иентификатора  считается что  запрос  это нотификация  не  требующая ответа.
            <br> Пакетный запрос
            <br><code>[{"jsonrpc": "2.0", "method": "echo", "params": {"say": "Привет"}, "id": 1}, {"jsonrpc": "2.0",
            "method": "echo", "params": {"say": "Пока"}, "id": 1} ]</code>
            <br> Ответ имеет  вид
            <br>
            <code> {"jsonrpc": "2.0", "result": {"answer": "Привет"}, "id": 1} </code>
             </p>
            <ul>
                <li>jsonrpc - всегда "2.0"</li>
                <li>result - ответ</li>
                <li>error - возвращается  вместо result при ошибке</li>
                <li>id - соответствующий идентификатор из запроса</li>
            </ul>
            <p>
            <i class="fa fa-exclamation-triangle"></i>  Поля с  произвольным  тестом (например описания) возвразаются в  base64
            </p>
            
                <b>Коды ошибок</b>
            <table class="ctable">
                <tr>
                    <td>-1000</td>
                    <td>Неверный логин</td>
                </tr>
                <tr>
                    <td>-1001</td>
                    <td>Пользователь не  найден</td>
                </tr>
                <tr>
                    <td>-1002</td>
                    <td>Просроченый токен</td>
                </tr>
                <tr>
                    <td>-1003</td>
                    <td>Ошибка  в  синтаксисе</td>
                </tr>
                <tr>
                    <td>-1004</td>
                    <td>Неверный  запрос</td>
                </tr>
                <tr>
                    <td>-1005</td>
                    <td>Неверная команда</td>
                </tr>
            </table>
          
            <h3>Авторизация</h3>
            <p>
                Тип авторизации задается в настройках и может быть на основе токена JWT, Basic аутентификации 
                или авторизация может не использоваться (например, в локальной сети). 
                Bearer и Basic аутентификация отправляются стардартным образом в заголовке Authorization. 
                Для Bearer предварительно нужно получить JWT токен.
             </p>
            
            <br><b><a href="https://github.com/leon-mbs/zstore/blob/master/www/app/api/client.php">пример клиента</a> для раьоты з API</b>
            
            
            <h3>Перечень endpoints</h3>
            <ul style=" line-height: 1.4em;" class="list-unstyled text-bold">
                <li><a class=" " href="#common">Общее</a></li>
                <li><a class=" " href="#items">ТМЦ</a></li>
                <li><a class=" " href="#service">Работы , услуги</a></li>
                <li><a class=" " href="#cust">Контрагенты</a></li>
                <li><a class=" " href="#docs">Документы</a></li>
                <!--  <li> <a class=" " href="#saas">SAAS</a> </li>-->
            </ul>
            <br>
            <h4 id="common">Общие</h4>
            <i>/api/common</i><br>
             <table class="table table-sm">
             <tr>
                <td><b>checkapi</b></td>
                <td>проверка API. Не требует авторизации</td>
                <td>{"jsonrpc": "2.0", "method": "checkapi",  "id": 1}</td>
             </tr>
            <tr>
                <td><b>token</b></td>
                <td>получить Bearer токен <br>
                <span>Параметры:</span>
                <br>login - логин
                <br>password - пароль                </td>
                <td>{"jsonrpc": "2.0", "method": "token", "params": {"login":"admin","password":"admin"}, "id": 1}</td>
             </tr>
             <tr>
                <td><b>parealist</b></td>
                <td>производственные участки</td>
                <td></td>
             </tr>
          
            <tr>
                <td><b>sourcelist</b></td>
                <td>источники продаж</td>
                <td></td>
             </tr>
            </table>
                      
     
    

            <h4 id="items">ТМЦ</h4>
            <i>/api/items</i><br>
          <table class="table table-sm">
             <tr>
                <td><b>storelist</b></td>
                <td>склады</td>
                <td></td>
             </tr>
             <tr>
                <td><b>catlist</b></td>
                <td>категории ТМЦ</td>
                <td></td>
             </tr>
             <tr>
                <td><b>articlelist</b></td>
                <td>список  артикулов</td>
                <td></td>
             </tr>
            <tr>
                <td><b>typelist</b></td>
                <td>список типов ТМЦ</td>
                <td></td>
             </tr>
           <tr>
                <td><b>itemlist</b></td>
                <td>список   ТМЦ <br>

                <br>
                <span>Параметры:</span><br>
                cat_id - id категории (если не  задано  возвразается  весь  список)<br>
                </td>
                <td>
                "params": {"cat_id":10}
                </td>
             </tr>
         <tr>
                <td><b>getqty</b></td>
                <td>Наличие на складах <br>
              
                <br>
                <span>Параметри:</span><br>
                 store_id - id склада<br>
                </td>
                <td>
              
                </td>
             </tr>
         <tr>
                <td><b>save</b></td>
                <td>Сохранить ТМЦ <br>
                <small>Если артикул (item_code) существует, то ТМЦ перезаписывается, инчае  создается</small>
                <br>
                <span>Параметры:</span><br>
                <br>itemname - наименование (обязательное поле)
                <br>item_code - артикул (обязательное поле)
                <br>bar_code - штрих код
                <br>measure - еж. измерения
                <br>manufacturer - производитель, бренд
                <br>cat_id - id категории
                <br>price1,... - отпускные  цены
                <br> desсription - описание (в base64)
                <br> imageurl - URL картинки
                </td>
                <td>
                 "params":   {
                "item_code":"К001",
                "bar_code":"К001",
                "itemname":"testapi",
                "description":"",
                "measure":"шт",
                "manufacturer":"",
                "cat_id":"0",
                "price1":50
                }
                </td>
             </tr>
             <tr>
                <td><b>service</b></td>
                <td>Работы, услуги</td>
                <td></td>
             </tr>
       </table>    
 
 
            <h4 id="cust">Контрагенты</h4>
            <i>/api/customers</i><br>
       <table class="table table-sm">
             <tr>
                <td><b>list</b></td>
                <td>перечень  </td>
                <td></td>
             </tr>
         <tr>
                <td><b>save</b></td>
                <td>сохранить контрагента <br>
                <small>Если customer_id блльше нуля, то контрагент перезаписыается. Если равно нулю или отсутствует  то  созается  новый </small>
                <br>
                <span>Параметры:</span><br>
                <br>customer_id - id контрагента
                        <br> customer_name - наименование (обязательно)
                        <br> phone - телефон (рекомендуется 10 цифр)
                        <br> email - e-mail
                        <br> city - город
                        <br> address - адрес
                        <br> desсription - описание (в base64)
                </td>
                <td>
                 "params":   {
                "customer_id":"8",
                        "customer_name":"\"Рога&amp;Копыта\"",
                        "phone":"0991111111",
                        "email":"test@ukr.net",
                        "city":"",
                        "address":""
                        }
                </td>
             </tr>             
    </table>               
  
 
          
            
            
            
            <h4 id="docs">Документы</h4>
            <i>/api/docs</i><br>
        
       <table class="table table-sm">
             <tr>
                <td><b>statuslist</b></td>
                <td>перечень  статусов  документов<br>
                 <small>Не все  статусы  подходят ко  всем типам документов</small></td>
                <td></td>
             </tr>
             <tr>
                <td><b>branchlist</b></td>
                <td>перечень филиалов<br>
                 <small>Если в учетной системе включена поддержка филиалов, необходимо указать филиал в создаваемом документе</small></td>
                <td></td>
             </tr>
        <tr>
                <td><b>mflist</b></td>
                <td>перечень денежных счетов  </td>
                <td></td>
             </tr>             
                   
           <tr>
                <td><b>cancel</b></td>
                <td>Запрос на  удаление  <br>

                <br>
                <span>Параметры:</span>
          
                <br> number - номер документа
                <br>reason - причина        
                 </td>
                <td> "params": {
                        "number": "ТТН00034",
                        "reason":"Тест"
                     }</td>
             </tr>             
   
           <tr>
                <td><b>list</b></td>
                <td>перечень  <br>
               <small>Возвращаются документы  созданные  через API.  </small>
                <span>Параметры:</span>
        
                 <br> <small>параметры  необязательны</small>   
                 <br> стате - статус     
                 <br> datefrom - дата начала периода     
                 <br> dateto - дата  конца     
                 <br> type - тип  ("Order","TTN","GoodsIssue","GoodsReceipt","IncomeItem","ProdIssue","ServiceAct")   
                          
                 </td>
                <td> "params": {
                        "state":5,
                        "type":"Order",
                        "datefrom":"16.01.2021",
                        "dateto":"16.01.2024" 
                      
                      }</td>
             </tr> 

                          
         <tr>
                <td><b>createorder</b></td>
                <td>Создание  заказа  если  заказ обрабатывается  на  стороне CRM  <br>
                <span>Параметры:</span>
        
               <br>number - номер документа. Уникальное значение  из внешней системы
                        <br> phone - телефон (если телефон  контакта  отличается  от телефона контрагента)
                        <br> email - e-mail (если e-mail контакта отличается от e-mail контрагента)
                        <br> ship_address - адрес и прочие  данные доставки
                        <br> description - опиание (в base64)
                        <br> customer_id - контрагент
                        <br> amount - всего по документу   
                        <br> items - позиции
                        <br> branch_id - филиал (если  поддерживается
                        <br> item_code - артикул
                        <br> quantity - количество
                        <br> price - цена                       
                 </td>
                <td> "params":  {
                        "number":"ID0001",
                        "phone":"0971111111",
                        "ship_address":"Харков",
                        "items":[
                         {"item_code":"cbs500-1","quantity":2,"price":234},
                         {"item_code":"ID0018","quantity":2,"price":234}
                        ]
                      }</td>
             </tr>             
        <tr>
                <td><b>createttn</b></td>
                <td>  ТТН, если надо только  списать со  склада  <br>
                <span>Параметры:</span>
        
                     
                        <br> phone - телефон 
                        <br> email - e-mail 
                        <br> ship_address - адреси прочеее  по  доставке
                        <br> customer_id - контрагент
                        <br> description - описпгние (в base64)
                        <br> amount - всего по документу  
                        <br> branch_id - филиал (если  включено)
                        <br> items - позиции
                        <br> item_code - артикул
                        <br> quantity - количество
                        <br> price - цена                    
                 </td>
                <td> "params":  {
                      
                        "phone":"0971111111",
                        "ship_address":"Харков",
                        "items":[
                          {"item_code":"cbs500-1","quantity":2,"price":234},
                          {"item_code":"ID0018","quantity":2,"price":234}
                        ]
                        }</td>
             </tr>             
     <tr>
                <td><b>goodsissue</b></td>
                <td>Расходная накладная  <br>
                <span>Параметры:</span>
        
                       <br> mf - денежный счет
                        <br> branch_id - филиал
                        <br> customer_id - контрагент
                        <br> store_id - склад (обязательное поле)
                        <br> autoexec - true (если нужно провести)
                        <br> total - всего по документу  
                        <br> payment - к  оплате
                        <br> payed - внесена сумма оплаты
                        <br> items - позиции
                        <br> item_code - артикул
                        <br> quantity - количество
                        <br> price - цена                   
                 </td>
                <td> "params":   {
                      
                        "store_id":19,
                        "customer_id":8,
                        "mf":2,
                        "total":220,
                        "payed":220,
                        "items":[
                         {"item_code":"cbs500-1","quantity":2,"price":234},
                         {"item_code":"ID0018","quantity":2,"price":234}
                        ]
                        }</td>
             </tr>  
    <tr>
                <td><b>incomeitem</b></td>
                <td>Оприходование ТМЦ  <br>
                <span>Параметры:</span>
        
                        
                        <br> branch_id - филиал
                        <br> store_id - склад 
                        <br> autoexec - true (провести)
                        <br> total - всего по  документу
                        <br> items - позиции
                        <br> item_code - артикул
                        <br> quantity - количество
                        <br> price - цена                
                 </td>
                <td> "params":   {
                       
                        "autoexec":true,
                        "store_id":19,
                        "customer_id":8,
                        "mf":2,
                        "total":220,
                        "payed":220,
                        "items":[
                         {"item_code":"cbs500-1","quantity":2,"price":234},
                         {"item_code":"ID0018","quantity":2,"price":234}
                        ]
                        }</td>
             </tr>                
     <tr>
                <td><b>serviceact</b></td>
                <td>Акт выполненых работ робiт  <br>
                <span>Параметры</span>
                      <br> mf - ленежный счет
                        <br> branch_id - филиал
                        <br> customer_id - контрагент
                        <br> device - изделие заказа
                        <br> autoexec - true если  провести
                        <br> total - всего  по документу
                        <br> payed - внесена  оплата
                        <br> items - позиции
                        <br> service_id - id
                        <br> quantity - количество
                        <br> price - цена             
                 </td>
                <td> "params":     {
                     
                        "customer_id":8,
                        "mf":2,
                        "total":220,
                        "payed":220,
                        "items":[
                         {"service_id":"5","quantity":2,"price":234}
                        ]
                        }</td>
             </tr>                
      <tr>
                <td><b>updatestatus</b></td>
                <td>Изменить статус  <br>
                <span>Параметры:</span>
                 
                        <br> number - номер документа
                        <br> status - статус 
                         (5- провести,7 - на выполнение, 18 - выполнен,    9- закрыт)
                                 
                 </td>
                <td> "params":     {
                        
                        "document_number":8,
                        "status":5 
                        
                      
                        
                        }</td>
             </tr>                
      <tr>
                <td><b>createpayment</b></td>
                <td>Создание платежа  <br>
                <span>Параметры:</span>
                 
                        <br> mf - денежный счет
                        <br> branch_id - филиал
                        <br> amount - сумма. Если &gt;0 созжается  приходный кассовый ордер иначе - расходный
                        <br> customer_id - контрагент.  Если зажан и суммв &gt;0 то оплата от покупателя. Если  сума &lt; 0 то оплата  поставщику
                                   
                 </td>
                <td> "params":     {
                        
                        "customer_id":8,
                        "mf":2,
                        "amount":220,
                      
                        
                        }</td>
             </tr>                
                         
       </table>      
        
   

           
        </div>
    </div>
</div>
<br> <br>
</body>
</html>
