<html>
<html>
    <head>
        <title> АРМ кассира  </title>

    </head>
    <body>
        

        <form zippy="form1">
           <h3>  АРМ кассира</h3>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group  row">
                        <label class="col-5 col-form-label"   for="pos">POS терминал</label>
                        <div class="col-7">
                        <select class="form-control" zippy="pos">
                            <option value="0">Не указано</option>
                        </select>
                        </div>
                    </div>
                   <div class="form-group  row">
                        <label class="col-5 col-form-label"   for="mfnal">Наличная касса</label>
                        <div class="col-7">
                        <select class="form-control" zippy="mfnal">
                            <option value="0">Не указано</option>
                        </select>
                        </div>
                    </div>
                   <div class="form-group  row">
                        <label class="col-5 col-form-label"   for="mfbeznal">Безналичный счет</label>
                        <div class="col-7">
                        <select class="form-control" zippy="mfbeznal">
                            <option value="0">Не указано</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group   row">
                        <label class="col-5 col-form-label" for="store">Склад</label>
                        <div class="col-7">
                        <select class="form-control" zippy="store">
                            <option value="0">Не указано</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group  row ">
                        <label class="col-5 col-form-label" for="pricetype">Тип цiни</label>
                        <div class="col-7">
                        <select class="form-control" zippy="pricetype">
                            <option value="0">Не указано</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group  row ">
                        <label class="col-5 col-form-label" for="salesource">Источник продаж</label>
                        <div class="col-7">
                        <select class="form-control" zippy="salesource">
                            <option value="0">Не указано</option>
                        </select>
                        </div>
                    </div>
                      {{#usefops}}
                         <div class="form-group row ">
                            <label class="col-5 col-form-label" for="fop"    >ИП</label>
                            <div class="col-7">
                       
                            <select class="form-control" zippy="fop">
                                <option value="0">Не используется</option>
                            </select>
                             <small>Печатается  вместо названия  компании </small>
                            </div>
                        </div> 
                         {{/usefops}}
                    <div class="form-group  row ">
                        <input type="submit" value="Добавить товары >" zippy="next1" class="btn btn-info">
                    </div>
                </div>

            </div>

        </form>

        <div   zippy="docpanel">

            <h4 class="mb-2  ">Оформленния чека</h4>
            <div zippy="navbar" class="navbar nav justify-content-start">

            <a zippy="tochecklist"  ><i class="fa fa-list"></i> Список чеков</a>    &nbsp;  &nbsp; &nbsp;  &nbsp; 
                {{^simplemode}}
               <a zippy="tosimple"     ><i class="fa fa-repeat"></i> Упрощенный режим</a>    &nbsp;  &nbsp; &nbsp;  &nbsp; 
                {{/simplemode}}
                {{#simplemode}}
               <a zippy="tostandard"     ><i class="fa fa-repeat"></i> Стандартный режим</a>    &nbsp;  &nbsp; &nbsp;  &nbsp; 
               {{/simplemode}}    
            
        
             </div>
                
            <form zippy="form2" class="mt-2 ">
             
                <div class="row">
                    <div class="col-12  col-xl-10">
                    
                      {{^simplemode}}
                        <div   class="form row  ">
                            <div class="col-auto">
                            Покупатель 
                            </div>
                             <div class="col-auto">
                              <div class="input-group  ">
                                 <input class="form-control"  placeholder="Начните вводить..."   zippy="customer"/>
                                 <div class="input-group-append">
                                   <a class="btn btn-success btn-sm mr-2" title="Добавить нового" zippy="addcust">+</a>
                                </div>
                                <div class="input-group-append"  >
                                    <a href="return false; void(0)" zippy="cinfo" class="btn btn-success"><i class="fa fa-info-circle"></i></a>
                                </div>                                                      
                             </div>     
                            
                            </div>
                          <div class="col-auto">
                            <span zippy="custinfo"  ></span>

                       </div>  

                     
                       <div data-label="promocode" class="col-auto">
                            Промо-код  <i class="fa fa-exclamation" title="Промо вводится  после ввода  всех позиций"></i>
                            </div>    
                            
                            <div class="col-auto">
                                <div class="form-group  ">

                                     <input  style="width:150px"  zippy="promocode" class="form-control"> 
                               
                                </div>  
                            </div>     


                       </div>
                      {{/simplemode}} 
                       
                       
                        <div   class="form row mb-3 mt-2">

                        {{#usescanner}}
                              <div class="col-auto">
                            Штрих код 
                            </div>
                              <div class="col-auto">
                            <input autofocus="on" autocomplete="off" style="width:120px"  type="text" zippy="barcode" onkeydown="onBarCode()">
                            <a zippy="addcode"  ></a>
                            
                            </div> 
                            
                         
                        {{/usescanner}}
                        {{^simplemode}}
                            <div class="col-auto">
                              <a class="btn btn-info  " zippy="addrow">Добавить товар</a>
                            </div>
                            <div class="col-auto">
                              <a class="btn btn-info  " zippy="addser">Добавить услуга</a>
                           </div>
                         {{/simplemode}}
                       {{#simplemode}}  
                           <div class="col-auto pt-2">
                           Товар
                            </div>
                          <div class="col-auto">
                            <input  type="search" placeholder="Начните вводить..." class="form-control " zippy="addtovarsm"/>
                          
                           </div>
                         <div class="col-auto pt-2">
                           Кіл.
                            </div>
                         <div class="col-auto">
                            <input pattern="[0-9,\.]+" zippy="qtysm" class="form-control qtyprice"   style="width:60px;">
                            </div>                              
                        <div class="col-auto pt-1">
                            <span zippy="storeqtysm"></span>
                            </div>                              
                        <div class="col-auto">
                            <a class="btn btn-success  " zippy="additemsm">Добавить </a>  
                            </div>                              
                       {{/simplemode}}
                        </div>
                    </div>

                        
                        <div class="col-12   col-lg-10 col-xl-8">
                    
                        <table class="table table-sm">
                            <tr>
                                <th>Название</th>
                                <th>Код</th>
                                <th>Ед.</th>
                                {{#usesnumber}}
                                <th>Серия</th>
                                {{/usesnumber}}
                               {{#usesnumberdate}}           
                                <th>Дата</th>
                                {{/usesnumberdate}}


                                <th  style="width:40px" class="text-right">Кол.</th>
                                <th class="text-right"><i class="fa fa-gift"></i>,%</th>
                                <th class="text-right">Цена</th>

                                <th style=" width:75px" class="text-right">Сумма</th>
                                <th  ></th>
                                 
                                <th  ></th>
                            </tr>

                            <tr zippy="detail">
                                <td zippy="tovar"></td>
                                <td zippy="code"></td>
                                <td zippy="msr"></td>
                                {{#usesnumber}}
                                <td zippy="snumber"></td>
                                {{/usesnumber}}                                
                               {{#usesnumberdate}}                                           
                                <td zippy="sdate"></td>
                               {{/usesnumberdate}}           

                                <td zippy="quantity" class="text-right  "> </td>
                                <td zippy="disc" class="text-right"></td>
                                <td zippy="price" class="text-right"></td>

                                <td zippy="amount" class="text-right"></td>
                                <td> 
                                {{^simplemode}}
                                 <a zippy="edit" ><i class="fa fa-edit"></i></a> &nbsp;
                                {{/simplemode}}
                                
                                <a zippy="delete"><i class="fa fa-trash"></i></a></td>

                            </tr>
                            
                            <tr zippy="detailser">
                                <td zippy="service"></td>
                                <td></td>
                                <td></td>
                                {{#usesnumber}}
                                <td></td>
                                {{/usesnumber}}
                                {{#usesnumberdate}}
                                <td></td>
                                {{/usesnumberdate}}


                                <td zippy="serquantity" class="text-right"></td>
                                <td zippy="serdisc" class="text-right"></td>
                                <td zippy="serprice" class="text-right"></td>

                                <td zippy="seramount" class="text-right"></td>
                                <td><a zippy="seredit"><i class="fa fa-edit"></i></a></td>
                                <td><a zippy="serdelete"><i class="fa fa-trash"></i></a></td>

                            <tr style="font-weight: bolder;" >


                                <td colspan="{{colspan}}" class="text-right">Всего:</td>

                                <td zippy="total" class="text-right"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            
                            {{^simplemode}} 
                           <tr style="font-weight: bolder;" >


                                <td colspan="{{colspan}}" class="text-right">Скидка:</td>

                                <td class="text-right" ><input style="width:75px" autocomplete="off" class="form-control" type="text" zippy="totaldisc"></td>
                                <td></td>
                                <td></td>
                            </tr>
                           <tr style="font-weight: bolder;" >


                                <td colspan="{{colspan}}" class="text-right">Списать  бонусы:</td>

                                <td class="text-right" ><input style="width:75px" autocomplete="off" class="form-control" type="text" zippy="bonus"></td>
                                <td></td>
                                <td></td>
                            </tr>
                       <tr style="font-weight: bolder;" >


                                <td colspan="{{colspan}}" class="text-right">Предоплата:</td>

                                <td class="text-right" ><input style="width:75px" autocomplete="off" class="form-control" type="text" zippy="prepaid"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            
                             {{/simplemode}}
                        </table> 
                       </div>
                  <div class="w-100 " ></div>   
                 <div class="col-12   col-lg-4 col-xl-3   mt-4">   
                     <input type="submit" value="Сохранить" zippy="tosave" class="btn  btn-info mr-1">
                     <input type="submit" value="Отложить" zippy="topass" class="btn  btn-info">
                     <button  zippy="frompass" class="btn  btn-primary">Восстановить</button>
                     <button  zippy="tocancel" class="btn  btn-secondary">Отменить</button>
                </div>
                   
                                       
                 <div class="col-12   col-lg-8 col-xl-6 offset-lg-1  mt-4">                       
                      <div class="form row">
                     
                         <div class="col-auto pt-1">
                          
                     {{^onlynal}} 
                                                 
                     <div class="form-check form-check-inline">
                        <input zippy="pt1"  class="form-check-input" type="radio"   >
                        <label class="form-check-label" for="pt1"> Наличные</label>
                    </div>                  
                     <div class="form-check form-check-inline">
                        <input zippy="pt2"   class="form-check-input" type="radio"   >
                        <label class="form-check-label" for="pt2"> Картка</label>
                    </div>                  
                     <div class="form-check form-check-inline">
                        <input  zippy="pt3"   class="form-check-input" type="radio"   >
                        <label class="form-check-label" for="pt3"> Комб.</label>
                    </div>                  
 
                     {{/onlynal}} 
                
                          
                        </div>
                        <div class="col-auto">
                         <input type="submit" value="Оплатить" zippy="topay" class="btn  btn-info">
                        </div>              
                   
                      
                         </div>
                     </div>
                    
                    
                </div>
             
       

            </form>
            <form zippy="form3">
                   <input type="hidden" zippy="paytypeh">
                <div class="row">
   

                    <div class="col-12 col-md-5  ">
            
                        
                       <div class="form-group row">
                            <label class="col-4" for="payamount" data-label="payamount">К оплате</label>
                          <div class="col-3">
                            <input class="form-control-plaintext" readonly type="text" zippy="payamount">
                         </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4" for="payed" data-label="payed">Наличные</label>
                           <div class="col-3">
                            <input  pattern="[0-9,\.]+" autocomplete="off" class="form-control qtyprice" type="text" zippy="payed">
                          </div>
                     
                        </div>
                        {{^onlynal}}  
                      <div class="form-group row">
                            <label class="col-4" for="payedcard" data-label="payedcard">Банк. картка</label>
                           <div class="col-3">
                            <input  pattern="[0-9,\.]+" autocomplete="off" class="form-control qtyprice" type="text" zippy="payedcard">
                          </div>
                        </div>
                           {{/onlynal}}  
                        <div class="form-group  row">
                            <label class="col-4" for="exchange" data-label="exchange">Сдача</label>
                          <div class="col-3">
                            <input class="form-control-plaintext" type="text" zippy="exchange" readonly>
                         </div>
                        </div>
                          {{^simplemode}}
                       <div class="form-group row">
                            <label class="col-4" for="exch2b" data-label="exch2b">Бонусы</label>
                         
                            <div class="col-3">
                            <input autocomplete="off" class="form-control" type="text" zippy="exch2b">
                            </div>     
                             <div class="col-12">
                            <small data-label="exch2b">    Внести часть или всю сдачу в  бонусы </small>
                            </div>     
                        </div>
                       {{/simplemode}}
                    </div>
     
                 <div class="col-12 col-md-4">
                      
                                         
                      
                        <div class="form-group row">
                            <label class="col-4" for="document_number">Номер документу</label>
                            <div class="col-6">
                            <input class="form-control" type="text" zippy="document_number"  required="on" >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4" for="document_date"> Дата</label>
                            <div class="col-6">
                           <input style="width:120px;" class="form-control" type="text" zippy="document_date"  required="on" >
                            </div>
                        </div>
                   
                         
                         <div class="form-group  row ">
                            <label class="col-4" data-label="trans"  for="trans">№ транзакции</label>
                            <div class="col-6">
                           <input zippy="trans" class="form-control "  />
                            <small  data-label="trans" >Код с банковского терминала  при оплате  картой </small>
                            
                             </div>
                           
                        </div>
                         
                         <div class="form-group  row ">
                            <label class="col-4" for="notes">Примечание </label>

                            <div class="col-6">
                           <textarea class="form-control" zippy="notes"></textarea>

                          </div> 
                        </div>

                    </div>
     
                </div>
                     

                <div class="row">
                    <div class="col-12">
                        <div class="form-group  ">
                            <input type="button" value="< назад" zippy="cancel2" class="btn  btn-outline-info">
                            &nbsp;&nbsp;<input type="submit" value="Провести чек  " zippy="save" class="btn  btn-info">
                          
                        </div>

                    </div>
                </div>

            </form>
            <form zippy="formcheck">
                <div class="row">
                    <div class="col-6">
                           <div class="form-group  ">
                             {{^freg}}
                           <input   zippy="print" type="button" value="Друк " class="btn  btn-primary">
                              {{/freg}}         
                           
                            &nbsp;&nbsp;<input type="button" value="Новый чек " zippy="newdoc" class="btn  btn-info">
                        </div>
                        <div zippy="showcheck">

                        </div>
                       
                     

                    </div>
                </div>
            </form>


            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">
                    <form zippy="editdetail">
                        <h4>Ввод товара </h4>
                        <div class="form-group">
                            <label for="edittovar">Назва</label>
                            <input   placeholder="Начните вводить..." class="form-control " zippy="edittovar"/>
                            <br> <a zippy="openitemsel">Открыть справочник</a>
                            &nbsp; <a zippy="opencatpan">Открыть Категории</a>
                            {{^noshowpartion}}
                           <br>
                            На складе: <span zippy="qtystock"></span>
                             &nbsp;На других складах: <span zippy="qtystockex"></span>
                             {{/noshowpartion}}
                        </div>
                        {{#usesnumber}}
                        <div class="form-group">
                            <label for="editserial">Серия производителя </label>
                            <input class="form-control " zippy="editserial"/>

                        </div>

                        {{/usesnumber}}
                        <div class="form-group row">
                            <label class="col-5 col-form-label" for="editquantity">Количество</label>
                             <div class="col-5">
                                <input class="form-control qtyprice" type="text" zippy="editquantity"  required="on"  pattern="[0-9,\.]+"  >
                             </div>
                         {{#usescale}}
                          <div class="col-2">
                             <a title="Получить с электронных весов"  href="#" id="onscale" class="btn btn-success"><i class="fa fa-scale-balanced"></i></a>
                         </div>
                         {{/usescale}}                             
                        </div>

                        <div class="form-group row">
                            <label class="col-5 col-form-label" for="editprice">Ціна </label>
                            <div class="col-5">
                            <input autocomplete="off" class="form-control" type="text" zippy="editprice"  required="on"     pattern="[,0-9\.]+" >
                             </div>
                        </div>


                        <div class="form-group">
                            <input type="button" zippy="cancelrow" value="К списку" class="btn btn-outline-secondary mr-2">
                            <input type="submit" zippy="submitrow" value="Сохранить" class="btn btn-outline-primary ">
                            
                        </div>

                    </form>
                </div>
                <div class="col-12 col-md-8 col-xl-8">
                    <div zippy="wselitem"></div>
                            
 
                </div>
            </div>


            <form zippy="editserdetail">
                <h4>Ввод услуги </h4>
                <div class="row">
                    <div class="col-12 col-md-4 col-xl-3">

                        <div class="form-group">
                            <label for="editser">Услуга</label>
                            <select zippy="editser" class="form-control select2">
                                <option value="0">Не выбрана</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="editserquantity">Количество</label>
                            <input class="form-control qtyprice" type="text" zippy="editserquantity"  required="on"  pattern="[0-9,\.]+"
                                   style="width: 70px;">

                        </div>

                        <div class="form-group">
                            <label for="editserprice">Стоимость </label>
                            <input class="form-control" type="text" zippy="editserprice"  required="on"  pattern="[,0-9\.]+"
                                   style="width: 70px;">

                        </div>


                        <div class="form-group">
                            <input type="button" zippy="cancelser" value="Отменить" class="btn btn-outline-secondary mr-2">
                            <input type="submit" zippy="submitser" value="Сохранить" class="btn btn-outline-primary ">
                            
                        </div>


                    </div>
                </div>
            </form>
        </div>  
        <div class="row" zippy="checklistpan"  >

            <div class="col-12 col-md-8 xl-6" >
                <h4>Список чеков</h4>
                <a  class="btn btn-success mr-2" zippy="newcheckback">&lt; Назад</a>   
                <a  class="btn btn-success" zippy="newcheck">Новый чек</a>   


                <div class="row"  >       
              
                            <div class="navbar nav">
                                <form zippy="searchform" class="form-inline ">
                                    <label for="searchnumber"> № </label>

                                    <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">

                                    <label for="searchcust"> Покупатель </label>

                                    <input placeholder="Начните вводить..." class="form-control mr-2" type="text" zippy="searchcust"  >

                                    <input type="submit" class="  btn btn-outline-success  " value="Искать">


                                </form>
                            </div>
                        </div>
               



                <table class="table  table-sm">
                    <tr> 
                     <th>Номер</th>
                        <th>Дата</th>
                       
                        <th>Автор</th>
                       

                        <th class="text-right">Сумма</th>
                    

                        <th ></th>
                        <th ></th>
                        <th ></th>
            
                   {{#usefr}}      <th ></th>     {{/usefr}}


                    </tr>
                    <tr zippy="checklist">
                       
                        <td ><a zippy="rownumber"></a></td>
                        <td zippy="rowdate"> </td>
                        <td zippy="rowauthor"></td>
                           </td>
                     
                        <td class="text-right" zippy="rowamount"> </td>

                        <td zippy="rownotes"></td>
                        <td  ><a zippy="checkedit" title="Редактировать"><i class="fa fa-edit"></i></a></td>
                        <td  ><a zippy="checkreturn" >Возврат</a></td>
                       
                         {{#usefr}}
                        <td  ><span style="cursor:pointer" zippy="checkfr" >Фискализировать</span></td>
                         {{/usefr}}
                         
                    </tr>

                </table> 
                <div zippy="pag"></div>
                 <a id="dankor"></a>

           
                    <div class="row" zippy="statuspan">
 


                        <div class="card">
                            <div class="card-body">

                                <div zippy="docview"></div>

                            </div>
                        </div>
                    </div>
              




            </div>

        </div>         




        <form zippy="editcust">
            <h3>&nbsp;Новый контрагент </h3>
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">

                    <div class="form-group">
                        <label for="editcustname">Название </label>
                        <input class="form-control " zippy="editcustname"  required="on" />
                    </div>
                    <div class="form-group">
                        <label for="editphone">Телефон</label>
                        <input pattern="[0-9]+" class="form-control" type="text" zippy="editphone"/>
                    </div>
                   

                    <div class="form-group">
                        <input zippy="savecust" type="submit" value="Сохранить" class="btn btn-outline-primary">
                        <input type="button" zippy="cancelcust" value="Отменить" class="btn btn-outline-secondary ">
                    </div>
                </div>
            </div>
        </form>

     
        <script>
            $(document).ready(function () {

            
                
                var paytype = $('#paytypeh').val();
                
                if(paytype==1) {
                   $('#payed').focus();    
                   $('#payedcard').attr('disabled','disabled');    
                }
                if(paytype==2) {
                   $('#payedcard').focus();    
                   $('#payed').attr('disabled','disabled');    
                }
            
          
                
                $("#payed").on('input',function () {
                    var payed = $("#payed").val();  
                    var payedcard = $("#payedcard").val() ??0;  
                    var payamount = $("#payamount").val();

                    var exchange = parseFloat(payed) + parseFloat(payedcard)  - parseFloat(payamount);
                    if (exchange > 0) {
                        $("#exchange").val( exchange.toFixed(2) )
                    } else {
                        $("#exchange").val(0) 
                    }

                }); 
               $("#payedcard").on('input',function () {
                    var payed = $("#payed").val()??0;  
                    var payedcard = $("#payedcard").val();  
                    var payamount = $("#payamount").val();

                    var exchange = parseFloat(payed) + parseFloat(payedcard)  - parseFloat(payamount);
                    if (exchange > 0) {
                        $("#exchange").val(fa(exchange));
                    } else {
                        $("#exchange").val(0);
                    }

                }); 

            $('#editquantity').on('input',function( ) {
                   if(editquantity.reportValidity()==false) return
           
                   var id = $('#edittovar_id').val()
                   if(id==0)   return;
                   var q = $('#editquantity').val()
                   
                   $('#submitrow').attr('disabled','disabled')                     
                      callPM('getPriceByQty',[id,q], null,(data)=> 
                      {
                               if(parseVal(data)) {
                                  $('#editprice').val(data)
                               }
                               $('#submitrow').attr('disabled',null)                     
     
                          
                      });
                    
            })                
            
            

                //данные с электронныъ весов
                $("#onscale").click(function(event) {
                   event.preventDefault();
                    callScale( (weight)=>
                    {
                        $("#editquantity").val(weight); 
                    })
              
                        
                });                
                
            });
  
            function onBarCode(ele) {

                if (event.key === 'Enter' || event.keyCode == 13) {
                  
                    $('#addcode').click()
                }
            }
            
            
                $("#promocode").blur(function () {
                     var promodode = $("#promocode").val();  
                     
                   
                     
                      callPM('checkPromo',[promodode], null,(data)=> 
                      {
                         
                            $('#totaldisc').val(data.disc)                             
                          
                          
                      },
                       (error)=>{
                            $('#totaldisc').val('0')                                                          
                            $('#promocode').val('')         
                            toastr.error( error,'',{timeOut:8000} )          
                       }
                      );             
                });             
            
            
        
           
          
            function check_checkfisc(ele) {
                      document.getElementById('dialogwait').showModal()

                return true;
            }
            function check_tocancel(ele) {
                return confirm("Отменить чек?")
            }
           
            
            function check_save(ele) {
               if(false == checkFormInput('form3') ){
                   return false;
               }  
               document.getElementById('dialogwait').showModal()

               {{#freg}}
               
           //    if(  $("#passfisc").is(':checked') )  return true
               
               
               
               
               
               {{/freg}}
               
               
               return true;
            }
            
        </script>

    </body>

</html>
