<html>
 <head>
        <title>  Данные компании  </title>

    </head>

    <body>
 
        <div class="row">
             
         <div class="col-12   ">
                <h5>Данные компании</h5>
           </div>
         <div class="col-12   ">           
           <form zippy="firmform">  
            <div class="row">
               <div class="col-12 col-md-4 col-xl-3 ">
                       
                            <div class="form-group">
                                <label for="firm_name">Название</label>
                                <input  required="on"  class="form-control" zippy="firm_name"/>
                            </div>

                           
                            <div class="form-group">
                                <label for="phone">Телефон  </label>
                                <input class="form-control" type="text" zippy="phone">
                            </div>
                            <div class="form-group">
                                <label for="address">Адрес  </label>
                                <input class="form-control" type="text" zippy="address">
                            </div>  
                         <div class="form-group">
                                <label for="city">Город </label>
                                <input class="form-control" type="text" zippy="city">
                            </div>  
                       
                         <div class="form-check">
                            <input     zippy="isjur" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="isjur">Юридическое  лицо </label>
                           
                        </div>  
                         
 
                        
                  </div>   
                    
              <div class="col-12 col-md-4 col-xl-3 "   >
                      
                                                                        
                           
                           
                            <div class="form-group row">
                                <label class="col-3 col-form-label" for="tin">ОКПО </label>
                               <div class="col-6">
                                 <input class="form-control" type="text" zippy="tin">
                              </div>
                            </div>
                            <div class="form-group row">
                                 <label class="col-3 col-form-label" for="inn">ИНН </label>
                              <div class="col-6">
                                 <input class="form-control" type="text" zippy="inn">
                                 
                              </div>
                               
                            </div> 
                       
             
                <div class="form-group">
                        <label for="logo">Логотип </label>
                        <input class="form-control" type="text" zippy="logo">
                        <small class="form-text text-muted">Путь к  файлу  относительно  корня  сайта. Например, '/upload/logo.png'</small>
                    </div>
                    <div class="form-group">
                        <label for="stamp">Печать </label>
                        <input class="form-control" type="text" zippy="stamp">
                        <small class="form-text text-muted">Путь к  файлу  относительно  корня  сайта. </small>
                    </div>
                    <div class="form-group">
                        <label for="sign">Подпись (факсимиле) </label>
                        <input class="form-control" type="text" zippy="sign">
                        <small class="form-text text-muted">Путь к  файлу  относительно  корня  сайта. </small>
                    </div>                          
                  </div>      

           <div class="col-12 col-md-3 col-xl-4 "   >
                    <b>Альтернативные данные</b>  <br>                     
                    <small>Для выбора в продажных документах от разных ИП</small> 
                    <table class="ctable">                      
                      <tr><td>Название, тел.</td><td>ОКПО</td><td>Адрес </td><td></td></tr>
                      <tr zippy="fopslist"><td><input required="on" class="form-control "   zippy="fopname"></td>
                      <td> <input  required="on" style="width:150px" class="form-control "   zippy="fopedrpou"></td>
                      <td> <input  required="on"  class="form-control "   zippy="fopaddress"></td>
                      <td><a zippy="delfop"><i class="fa fa-trash"></i></a></td></tr>
                    </table>  
                     <button zippy="addfop" class="btn btn-success btn-sm" type="submit">Добавить</button>
                                             
                  </div>      
   
                     <div class="col-12 text-center   ">                                             
                           
                               <button zippy="save" class="btn btn-success" type="submit">Сохранить</button>
                              
                         </div>                        
                   </div>                        
                                                           
                  </form>
            
           </div>
              
        </div>
 
           
    </body>

</html>
