<html>
  <head>
        <title>  Мои задания  </title>

    </head>

    <body>
        <h3>Мои задания </h3>
        <div class="row">


            <div class="col-12   col-xl-10" zippy="listpan">
                <div class="card">
                    <form zippy="filter" class="form-inline ">


                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Поиск по контенту">

                        <input type="submit" class="  btn btn-outline-success  " value="Искать">


                    </form>

                </div>
                <a zippy="addnew" class="btn btn-success">Добавить</a>
                <table class="table table-sm table-bordered  ">
                     <tr>
                     <th>Дата</th>
                     <th>Создал</th>
                     <th>Исполнитель</th>
                     <th>Статус</th>
                     <th>Заголовок</th>
                     <th>Контрагент</th>
                     <th>Комментарий</th>
                     </tr>
                    <tr zippy="nlist">

                        <td zippy="date" class="text-nowrap">    </td>
                        <td zippy="createdby" >    </td>
                        <td zippy="username" >    </td>
                        <td  class="text-nowrap"> 
                            <span zippy="stwait" class="badge badge-success">Ожидает</span>
                            <span zippy="sttoday" class="badge badge-warning">Сегодня</span>
                            <span zippy="stpast" class="badge badge-danger">Просрочен</span>
                            <span zippy="stdone" class="badge badge-secondary">Выполнен</span>

                        </td>

                        <td   ><b zippy="title" ></b> </td>
                        <td >  <a zippy="customer" title="Открыть карточку"></a>  </td>
                        <td > <small zippy="description"></small>   </td>
                
                        <td><a title="Виконано" zippy="done"><i class="fa fa-gavel"></i></a></td>
                        <td><a zippy="edit"><i class="fa fa-edit"></i></a></td>

                    </tr>
                </table>
                <div zippy="pag"></div>                

            </div>
       </div>   
       
                <form zippy="addeventform" class="row" >
                   <div class="col-12 col-md-5  col-xl-4">
 
                    <small>Задания связанные с контрагентом, следует  задавать в  справочнике  контрагентов</small>
                    <div class="form-group row">
                        <label  class="col-3 col-form-label" for="addeventdate">Дата, время</label>
                        <div class="col-4">
                            <input   class="form-control"   zippy="addeventdate"  required="on" >
                        </div>   
                        <div class="col-3">    
                            <input   class="form-control"   zippy="addeventtime"  required="on" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addeventtitle">Заголовок, тип события</label>
                        <input  required="on"  class="form-control" zippy="addeventtitle">
                    </div>
                    <div class="form-group">
                        <label for="addeventdesc">Комментарий</label>
                        <textarea class="form-control" zippy="addeventdesc" style=" height:120px;"></textarea>
                    </div>
                 
              <a zippy="cancel" class="btn btn-outline-success  mr-4">Отменить</a>
                    <input class="btn btn-success  " type="submit" value="Сохранить">
                    
                     </div>
                    
                     <div class="col-12 col-md-5  col-xl-4">
                          <div class="form-group">
                            <label for="addeventnotify">Напомнить уведомлением за</label>
                            <select class="form-control" zippy="addeventnotify">
                                <option value="0">Не напоминать</option>
                                <option value="1">1 час</option>
                                <option value="2">2 часа</option>
                                <option value="4">4 часа</option>
                                <option value="8">8 часов</option>
                                <option value="16">16 часов</option>
                                <option value="24">24 часов</option>
                            </select>
                        </div>
                         {{#canevent}}
                         <div class="form-group">
                            <label for="adduser">Назначить пользователю</label>
                            <select class="form-control  " zippy="adduser">
                                <option value="0">Не указано (для себя)</option>
                            </select>
                        </div>
                        {{/canevent}}
                    </div> 
                </form>
               
             
              
                 <div class="row">  
                 <div class="col-12 col-md-4  col-xl-3">
  
                <form zippy="editeventform" >
                    <div class="form-group">
                        <label for="editeventdate">Дата, час</label>
                        <div class="input-group">
                            <input   class="form-control"   zippy="editeventdate"  required="on" >
                            <span class="input-group-text">:</span>
                            <input   class="form-control"   zippy="editeventtime"  required="on" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editeventtitle">Заголовок, тип события</label>
                        <input  required="on"  class="form-control" zippy="editeventtitle">
                    </div>
                    <div class="form-group">
                        <label for="editeventdesc">Комментарий</label>
                        <textarea class="form-control" zippy="editeventdesc" style=" height:120px;"></textarea>
                    </div>
                    <a zippy="canceledit" class="btn btn-outline-success  mr-2">Отменить</a> &nbsp;
                    <input class="btn btn-success mr-4 " type="submit" value="Сохранить">
                    <a zippy="delete" class="btn btn-danger  "    >Удалить</a>

                </form>

              </div>
              </div>
           
             
        <script>

            function check_delete() {
                return confirm("Удалить?")
            }
            
            function check_done() {
                return confirm("Выполнено?")
            }
    </script>        

    </body>
</html>
