<html>
 <head>
        <title> Справочник  касс (POS терминалов)    </title>

    </head>

    <body>
        <div class="row">
            
               <div class="col-12 col-md-6 col-xl-4">
       
                <div zippy="postable">
                    <h3>Справочник  касс (POS терминалов) </h3>
                    <a zippy="addnew" class="btn btn-outline-primary  ">Добавить</a>
                    <table class="table table-bordered   table-sm"  >
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            {{#usebranch}}
                            <th>Филиал</th>
                            {{/usebranch}}
                            <th></th>
                            <th></th>
                            <th></th>
                             
   
                        </tr>
                        <tr zippy="poslist">
                            <td zippy="pos_id"></td>
                            <td zippy="pos_name"></td>
                            {{#usebranch}}
                            <td zippy="branch_name"></td>
                            {{/usebranch}}
                            <td zippy="comment"></td>
                            <td  ><a zippy="edit" title="Редактировать"><i class="fa fa-edit"></i></a> </td>
                            <td  > <a zippy="delete" title="Удалить"><i class="fa fa-trash"></i></a></td>

   
                         </tr>
                    </table>
                      
                </div>
               </div>
              </div>      
                <form zippy="posdetail">
                    <div class="row">
                        <div class="col-6 col-md-4 col-xl-3">

                            <div class="form-group">
                                <label for="editpos_name">Название, номер</label>
                                <input  required="on"  class="form-control" zippy="editpos_name"/>
                            </div>
                      
                            {{#usebranch}}
                            <div class="form-group">
                                <label for="editbranch">Филиал</label>
                                <select class="form-control" zippy="editbranch">
                                    <option value="0">Не выбрана </option>
                                </select>
                            </div>
                            {{/usebranch}}

                            <div class="form-group">
                                <label for="editpointname"> Название торговой точки</label>
                                <input class="form-control" zippy="editpointname"/>
                                <small>Для печати в чеках  </small>

                            </div>


                            <div class="form-group">
                                <label for="editaddress"> Адрес</label>
                                <input class="form-control" zippy="editaddress"/>
                                <small>Для печати в чеках</small>

                            </div>
                           


                            <div class="form-group">
                                <label for="editcomment">Примечание</label>
                                <textarea class="form-control" zippy="editcomment">
                                </textarea>
                            </div>
                           
                        </div>
                         <div class="col-6 col-md-4 col-xl-3">
                            
                      
                            
                       
                                 
                                   
                   
                            {{#usefr}}
                                <div class="form-check">
                                    <input zippy="editusefreg" type="checkbox" class="form-check-input">
                                    <label class="form-check-label text-bold" for="editusefreg">Использовать фискальный региистртор</label>
                                    <br> <small><a href="https://ru.zippy.com.ua/ext#id17">Описание</a></small>
                   
                                </div> 
                                 <div class="form-group">
                                    <label for="editscriptfreg">Скрипт</label>
                                    <textarea style="height:500px" class="form-control" zippy="editscriptfreg">
                                    </textarea>
                                </div>    
                            {{/usefr}}
                               
                         </div>
                    
                 <div class="col-12">
                                <input zippy="cancel" type="button" value="Отменить" class="btn btn-secondary mr-4 ">
                                <input zippy="save" type="submit" value="Сохранить" class="btn btn-primary  "> 
                            </div>
                </div>                            
                </form>
              
                
             
           
    
      <script>
            function check_delete() {
                return confirm("Удалить?")
            }
            function check_send(){
            
               document.getElementById('dialogwait').showModal()

                return  true;
            }            
        </script>
    </body>
</html>