<html>
    <head>
    </head>
    <body>
        <div class="row">
            <div class="col-12 col-xl-10">

                <h3>Експорт нових товарів</h3>
                              <a zippy="checkconn"><i class="fa   fa-sync"></i> Проверить  соежинение</a>
   <div class="card">
                    <form zippy="filter" class="form-inline ">
                       <label for="searchcat">Категория</label>

                        <select class="form-control mr-sm-2" zippy="searchcat">
                            <option value="0">Не задано</option>
                        </select>


                        <input onclick=" document.getElementById('dialogwait').showModal() " type="submit" class=" mr-2 btn btn-outline-success  "
                               value="Завантажити">



                    </form>
                </div>

                <form zippy="exportform">
                    <table class="table   table-sm   ">
                        <tr>

                            <th style="width:30px"><input type="checkbox" id="chall" onchange="chclick()"></th>

                            <th>Наименование</th>
                            <th>Артикул</th>
                            <th class="text-right">Кол.</th>
                            <th class="text-right">Цена</th>
                            <th> Опис</th>


                        </tr>
                        <tr zippy="newitemlist">

                            <td><input type="checkbox" zippy="ch" class="chc"></td>
                            <td zippy="name"></td>
                            <td zippy="code"></td>
                            <td zippy="qty" class="text-right"></td>
                            <td zippy="price" class="text-right"></td>
                            <td zippy="desc"></td>

                        </tr>

                    </table>
                    <div zippy="pag"></div>
                    <div class="ml-2 form-group row  ">


                        &nbsp;<input onclick="document.getElementById('dialogwait').showModal() " type="submit"
                                     class="  btn btn-outline-success   " value="Отправить">


                    </div>
                </form>
            </div>
            <div class="col-12 col-md-8  ">

                <h3>Обновление  цен и количеств</h3>

                <div class="card">
                  
                  <form zippy="upd" class="form-inline ">
                      <label for="updcat">Категорiия</label>

                        <select class="form-control mr-sm-2" zippy="updcat">
                            <option value="0">Все</option>
                        </select>
                
      
                    <a zippy="updateqty" class="  btn btn-outline-success  ">Обновить количества</a>


                    &nbsp;&nbsp;
                    <a zippy="updateprice" class="  btn btn-outline-success  ">Обновить цены</a>

                   </form>

                </div>
            </div>

            <div class="col-12 col-md-8  ">

                <h3>Загрузка товаров с магазина </h3>

                <div class="card">
                    <a zippy="getitems" class="  btn btn-outline-success  ">Загрузить</a>



                </div>
            </div>
        </div>
        <script>

            function check_updateqty() {

            document.getElementById('dialogwait').showModal() 
            }

            function check_updateprice() {

              document.getElementById('dialogwait').showModal() 
            }

            function check_getitems() {

 document.getElementById('dialogwait').showModal() 
                
            }

            function chclick() {
                var ch = $("#chall").prop('checked');
                $('.chc').prop('checked', ch)
            }
        </script>
    </body>
</html>
