<html>
     <head>
        <title> Журнал прибуткiв та видаткiв  </title>

    </head>
  <body>
        <div class="row">
            <div class="col-12  ">

                <h3>Журнал прибуткiв та видаткiв</h3>
               
                  

                <div class="card">
                    <form zippy="filter" class="form-inline ">

                        <label for="from"> З </label>
                        <input type="text" class="form-control    " zippy="from" style="width:110px">
                        <label for="to"> По </label>
                        <input type="text" class="form-control    " zippy="to" style="width:110px">
                      
                   
                        <label for="ftype"> тип </label>
                        <select class="form-control mr-2" zippy="ftype">
                            <option value="0">Не обрано</option>
                        </select>
                   

                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                    
                
                    
                    
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 col-xl-6">


                <br><a zippy="csv">Експорт у Excel</a>

                <table class="table   table-sm   ">
                    <tr>

                        <th>Дата</th>
                        <th>Номер</th>
                        <th class="text-right">Доход</th>
                        <th class="text-right">Витрата</th>
                      
                        <th>Тип прибутку/видатку</th>
                        <th></th>
                        


                    </tr>
                    <tr zippy="doclist">

                        <td class="text-nowrap" zippy="date"></td>

                        <td zippy="number"></td>
                        <td zippy="amountin"  class="text-right"> </td>
                        <td zippy="amountout"  class="text-right"> </td>
                        
                        <td zippy="iotype"></td>
                      
                        <td class="text-nowrap">

                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>
                            

                        </td>


                    </tr>
    
                </table>

                <div class="col-12 col-lg-8 mb-2" zippy="pag"></div>

              

            </div>

            <div class="col-12">
                <div zippy="docview"></div>
            </div>
            <div class="col-12">
                <table   class="ctanle">
                  
                   <tr><td style="width:100px"  >Доход  </td><td class="text-right"><b> {{totalin}} </b> </td></tr>
                   <tr><td style="width:100px"  >Видатки </td><td class="text-right"><b>{{totalout}}</b></td></tr>
                   <tr><td style="width:100px"  >Прибуток </td><td class="text-right"><b>{{totaldiff}}</b></td></tr>

                </table>
            </div>

        </div>


     
    </body>
</html>
