<html>
     <head>
        <title>  Розрахунки з постачальниками </title>

    </head>
  <body>
        <div class="row">
            <div class="col-12   col-md-10 col-md-8 " zippy="clist">
                <h3>Розрахунки з постачальниками </h3>
             <small>В  списку только  контрагенты  с дебетовым  или  кредитовым долгом</small>
            <div class="card">
                    <form zippy="filter" class="form-inline ">


                        <label for="holdlist"> Холдинг </label>
                        <select class="form-control mr-2" zippy="holdlist">
                            <option value="0">Не указано</option>
                        </select>

                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>


                <table class="table   table-sm   ">
                    <tr>

                        <th>Имя</th>
                        <th>Тел.</th>
                        <th class="text-right">Долг  поставщика</th>
                        <th class="text-right">Долг  поставщику</th>


                  
                        <th></th>
                        <th></th>


                    </tr>
                    <tr zippy="custlist">

                        <td><a zippy="customer_name" title="Открыть профиль"></a></td>
                        <td zippy="phone"></td>
                        <td zippy="amountd" class="text-right"></td>
                        <td zippy="amountc" class="text-right"></td>

                     
                        <td><a zippy="showdet">Детализация</a></td>
                     
                        <td><a zippy="createpay">К оплате</a></td>


                    </tr>
                    <tr>

                        <td></td>
                        <td class="text-right text-bold">Всего:</td>
                        <td zippy="totamountd" class="text-right text-bold"></td>
                        <td zippy="totamountc" class="text-right text-bold"></td>


                        <td></td>


                    </tr>
                </table>


            </div>

            <div class="col-12 col-lg-10 col-xl-8 " zippy="plist">
                <a zippy="back"><i class="fa fa-arrow-alt-circle-left"></i> к списку</a>
                <h3 zippy="cname"></h3>
                <span>К оплате </span><b zippy="allforpay"> </b> &nbsp;<span>Создать </span> <a zippy="payorder"></a> 

                <table class="table table-sm  ">
                    <tr>

                        <th>Документ</th>
                        <th>Номер</th>
                        <th>Дата</th>
                           {{#usebranch}}
                        <th>Филиал</th>
                           {{/usebranch}}
                         <th class="text-right">Сумма</th>
                       


                        <th></th>
                         <th>Перевести в статус</th>


                    </tr>
                    <tr zippy="doclist">

                        <td zippy="name"></td>
                        <td zippy="number"></td>
                        <td zippy="date"></td>
                          {{#usebranch}}
                       <td zippy="branch_name"></td>
                           {{/usebranch}}

                     
                        <td zippy="sum" class="text-right"></td>


                        <td class="text-nowrap">
                         &nbsp;   <a zippy="show" title="Просмотр"><i class="fa fa-eye"></i></a>
                            &nbsp; &nbsp;<a zippy="pay" title="Внести оплату"><i class="fa fa-credit-card"></i></a>


                        </td>
                            <td  class="text-nowrap"  > <a zippy="stpayed">Оплачен</a> <a  zippy="stdone">Выполнен</a> <a  zippy="stclosed">Закрыт</a>  </td>

                    </tr>

                </table>
               
            </div>

            <div class="col-12 col-lg-10 col-xl-8 " zippy="paypan">


                <div class="card">
                    <form zippy="payform" class="form-inline ">
                        <label>К оплате</label>
                        <input zippy="pamount" pattern="[0-9\.\-]+" style="width:100px;" placeholder="Сумма..."
                               class="form-control mr-2">
                        <label for="payment">счет</label>
                        <select class="form-control mr-2" zippy="payment">

                        </select>
                        {{#hideblock}}
                        <label for="pos">POS</label>
                        <select class="form-control mr-2" zippy="pos">
                            <option value="0">Не выбрано</option>

                        </select>
                        {{/hideblock}}
                        <label>дата</label>
                        <input zippy="pdate" style="width:100px;" class="form-control mr-2 ">

                        <input zippy="pcomment" placeholder="Коментар..." class="form-control mr-2">

                        <button type="submit" class="  btn btn-info  mr-2 ">Отплатить</button>


                    </form>

                </div>
                <b><i class="fa fa-credit-card"></i> Оплаты ( <span zippy="pname"></span>)</b><br>
                <table cellpadding="4">
                    <tr zippy="paylist">
                        <td zippy="pldate"></td>
                        <td zippy="pluser"></td>
                        <td class="text-right">&nbsp;<span zippy="plamount">&nbsp;</span></td>

                        <td zippy="plmft"></td>
                        <td zippy="plcomment"></td>

                    </tr>
                </table>


            </div>
         
        </div>

            
        <div class="col-12 col-lg-10 col-xl-8 " zippy="dlist">
                <a zippy="backd"><i class="fa fa-arrow-alt-circle-left"></i> к списку</a>
                <h3 zippy="cnamed"></h3>
                                  <small>                Приход - поступление  от контрагента  денег или ТМЦ.  
                 Расход - выдача  контрагенту денег  или ТМЦ </small>

                       <table class="table table-sm ">
                     <tr>

                        <th  >Документ</th>
                        <th  >Номер</th>
                        <th  >Дата</th>
                  
                         {{#usebranch}}
                        <th>Филиал</th>
                       {{/usebranch}}  
                      <th  class="text-right">Приход</th>
                        <th  class="text-right">Расхож</th>
                        <th  class="text-right">Долг поставщика</th>
                        <th  class="text-right">Долг поставщику</th>



      

                          <th  ></th>
                    </tr>              
                    
              
                    
                    <tr zippy="blist">
                      <td zippy="dname"></td>
                      <td zippy="dnumber"></td>
                      <td zippy="ddate" ></td>
                        {{#usebranch}}
                       <td zippy="dbranch_name"></td>
                           {{/usebranch}}

                      <td zippy="in" class="text-right"></td>
                      <td zippy="out" class="text-right"></td>
                      <td zippy="bd" class="text-right"></td>
                      <td zippy="bc" class="text-right"></td>
                      <td  > &nbsp; <a zippy="showdet" title="Просмотр"><i class="fa fa-eye"></i></a></td>
                    
                    </tr>                    
                </table>
                <div zippy="pagd"></div>    
            </div>
            
   <div class="col-12 col-lg-10 col-xl-8 ">    <a id="dankor"></a>
                <div zippy="docview"></div>
            </div>              
    </body>
</html>
